<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^(.*)\.html" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}\.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^register(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./newacc.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^logout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="logout.php" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^settings(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="config.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^share(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="share.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^preferences(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="preferences.php" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="client.php" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^clientutils(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="clientutils.php" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^community(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="news.php" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^premium(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="premium.php" />
                </rule>
                <rule name="Imported Rule 44">
                    <match url="^check_staff.php(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Imported Rule 45">
                    <match url="^check_staff2.php(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Imported Rule 49">
                    <match url="^groups-(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./groups.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 50">
                    <match url="^groupedit-(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./groups_edit.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 51">
                    <match url="^groups(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="groups.php" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 56">
                    <match url="^home(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="home.php" />
                </rule>
                <rule name="Imported Rule 57">
                    <match url="^home-(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./home.php?profile_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 58">
                    <match url="^index(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 61">
                    <match url="^maintenance(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="maintenance/" />
                </rule>
                <rule name="Imported Rule 62">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="me.php" />
                </rule>
                <rule name="Imported Rule 78">
                    <match url="^papers/disclaimer(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="disclaimer.php" />
                </rule>
                <rule name="Imported Rule 79">
                    <match url="^papers/privacy(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="privacy.php" />
                </rule>
                <rule name="Imported Rule 80">
                    <match url="^profile(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="profile.php" />
                </rule>
                <rule name="Imported Rule 81">
                    <match url="^home/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./home.php?profile_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 82">
                    <match url="^tag(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./tag.php" />
                </rule>
                <rule name="Imported Rule 85">
                    <match url="^xml(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./error.php" />
                </rule>
                <rule name="Imported Rule 86">
                    <match url="^xml/badge_data.xml(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Imported Rule 87">
                    <match url="^xml/badge_data_xml.xml(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Imported Rule 88">
                    <match url="^xml/badge_editor.xml(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Imported Rule 96" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_USER_AGENT}" pattern="^(-|\.|')" ignoreCase="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="^(.*)(&lt;|>)(.*)" />
                        <add input="{HTTP_USER_AGENT}" pattern="^(java|curl|wget)(.*)" />
                        <add input="{HTTP_USER_AGENT}" pattern="^(.*)(libwww-perl|libwwwperl|snoopy|curl|wget|winhttp|python|nikto|scan|clshttp|archiver|loader|email|harvest|fetch|extract|grab|miner|suck|reaper|leach)(.*)" />
                        <add input="{URL}" pattern="^(/,|/;|/&lt;|/>|/'|/`|/%2C|/%3C|/%3E|/%27|/////)" />
                        <add input="{QUERY_STRING}" pattern="(%00|%08|%09|%0A|%0B|%0C|%0D|%0E|%0F|%2C|%3C|%3E|%27|%26%23|%60)" />
                        <add input="{HTTP_COOKIE}" pattern="^(.*)(&lt;|>|'|%3C|%3E|%27)(.*)" />
                    </conditions>
                    <action type="Redirect" url="http://google.com/" redirectType="Found" />
                </rule>
				<rule name="Imported Rule 99">
                    <match url="^store(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="loja.php" />
                </rule>
				<rule name="Imported Rule 100">
                    <match url="^buyruby(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="coins.php" />
                </rule>
				<rule name="Imported Rule 101">
                    <match url="^catalogue/bots(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="catalogobots.php" />
                </rule>
				<rule name="Imported Rule 104">
                    <match url="^bots/edit/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./bots/edit.php?id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule 105">
                    <match url="^loading(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="loading.php" />
                </rule>
				<rule name="Imported Rule 106">
                    <match url="^topstats(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="topstats.php" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="300000000" maxUrl="4096" maxQueryString="4096">
                    <headerLimits>
                        <remove header="Content-type" />
                        <add header="Content-type" sizeLimit="100" />
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <staticContent>
            <remove fileExtension=".php" />
            <mimeMap fileExtension=".php" mimeType="text/php" />
        </staticContent>
    </system.webServer>
</configuration>
